<p>
  Tenemos 3 alternativas de apuesta del Equipo, del partido y/o del jugador,
  donde podemos pronosticar si la cantidad total de tiros a puerta realizados
  será inferior o superior a lo ofertado.
  <br /><br />
  Debemos tener en cuenta que un tiro a puerta es un tiro que va a la red. El
  resultado de un lanzamiento a puerta debe ser una parada del portero o del
  equipo defensor o un gol del equipo atacante. Un tiro que golpea el poste o el
  travesaño sin ser desviado por un portero o un defensor y no cruza la línea de
  meta no es un tiro a puerta.
  <br /><br />
  Los tiros interceptados por cualquier otro jugador que no sea el último que
  quedaba no contarán como tiros a puerta.
  <br /><br />
  Las apuestas se anularán si el jugador no juega desde el inicio del partido.
  Lo cual es importante para esta apuesta y si le apostaste a goles del jugador,
  tarjetas o número de faltas.
</p>

<p style="color: #37b2e7">
  Sección B. Reglas generales de apuestas numeral 5. Determinación del
  resultado, pagina 20, punto 10
</p>
