<p>
  Es una apuesta generalmente utilizada en fútbol en donde se proponen 3
  opciones, por eso se llama 3 Way o 3 opciones a escoger. De igual manera se
  brinda una desventaja de goles al equipo con más probabilidades de ganar (es
  decir, el favorito) o se le brinda una ventaja al equipo menos favorito para
  que así pueda ganar con mayor posibilidad. Se cuenta con las 3 opciones Gana
  local, gana visitante o el partido termina en empate.
</p>

<p style="color: #37b2e7">
  Podrás consultar en Sección B. Reglas generales de apuestas, numeral 2. Tipos
  de apuestas, páginas 11 y 12, punto 9
</p>
