<p>
  En las apuestas por INTERVALO, los eventos deben suceder estrictamente dentro
  de ese intervalo establecido en la apuesta.
  <br /><br />
  En algunos partidos, ofrecemos mercados sobre eventos que transcurren en un
  plazo de tiempo especificado, p .ej. Minuto del primer gol. Para fines de
  claridad, el primer minuto de juego es desde 00:00 hasta 00:59, el minuto once
  es desde 10:00 hasta 10:59, etc. Para que una apuesta a un gol marcado entre
  el minuto 21 y el minuto 30 sea ganadora, el gol debería haberse marcado entre
  el minuto 20:00 y el minuto 29:59 en el reloj del partido.
  <br /><br />
  Cuando se apuesta a que suceda una determinado evento o incidencia como un
  tiro de esquina, un saque de banda, entre otros, se tiene en cuenta en el
  minuto que es ejecutado mas no cuando es pitado.
</p>
