<p>
  Apuesta sencilla que permite pronosticar y apostar al número de tarjetas
  totales que se mostrarán durante todo el partido, importante únicamente se
  tendrán en cuenta las tarjetas mostradas durante los 90 minutos reglamentarios
  y solo contarán las tarjetas mostradas a los jugadores dentro de partido.
  Recuerda 1 tarjeta amarilla vale 1 y 1 tarjeta roja vale por 2.
</p>

<p style="color: #37b2e7">
  Podrás consultar en Sección C. Límites y reglas de apuestas deportivas,
  numeral 14. Futbol, pagina 49, punto 5
</p>
