<p>
  Apuesta sencilla en la que se debe pronosticar con exactitud cual equipo será
  el ganador en los primeros 45 minutos del partido y cuál será el ganador al
  finalizar los 90 minutos, importante para ganar la apuesta se debe cumplir con
  las dos premisas o selecciones. Acertar al ganador al descanso y acertar al
  ganador al finalizar el partido.
</p>

<p style="color: #37b2e7">
  Podrás consultar en B. Reglas generales de apuestas, numeral 3. Apuestas de
  proposiciones, puntos 4 y 5 pagina 13.
</p>
