
<p>
Mercado de apuesta que consiste en acertar el ganador del encuentro sin importar el margen de puntos, el partido se gana con 2 sets ó con 3 sets dependiendo si se juega al mejor de 3 ó al mejor de 5 (Esto depende del tipo de torneo).
<br><br>
Estas apuestas necesitan al menos que un set se complete, de lo contrario se declararan como nulas.
</p>
<br>
<p style="color: #37B2E7;">
    Sección C - Límites y reglas de apuestas deportivas  28 Tenis y deportes de raqueta (Bádminton, Rackleton, Squash y Tenis de mesa) pagina 65, punto 4 y 5.
</p>

