<p>
  En este escenario también tenemos 3 alternativas de apuesta donde podemos
  pronosticar determinados disparos del Equipo, del partido y/o del jugador.
  <br /><br />
  Un tiro o disparo en futbol, es cualquier intento claro de un jugador de
  marcar gol en el arco del contrincante, incluidos todos los intentos definidos
  como tiros a puerta, fuera del arco o interceptados. Un tiro que golpea el
  poste o el travesaño sin ser desviado por un portero o un defensor y no cruza
  la línea de meta no es un tiro o disparo.
  <br /><br />
  Las apuestas se anularán si el jugador no juega desde el inicio del partido.
  Lo cual es importante para esta apuesta y si le apostaste a goles del jugador,
  tarjetas o número de faltas.
</p>

<p style="color: #37b2e7">
  Sección B. Reglas generales de apuestas numeral 5. Determinación del
  resultado, pagina 20, punto 10
</p>
