<!-- vista menu movile -->
<nav class="navbar navbar-expand-lg" id="movile">
  <div class="container-fluid">
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <img
        style="width: 8.888889vw"
        src="../../../assets/icons/menuIcon.svg"
        alt=""
      />
    </button>
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <!-- insercion de contenido -->
      <div class="offcanvas-header">
        <button
          style="color: #ffffff; background-color: #001849; border: 0"
          type="button"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
          id="closeCanvasButton"
        >
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="offcanvas-body">
        <div  *ngFor="let menuElement of menuData; let i = index" class="accordion-item">
          <h2 class="accordion-header" [id]="'panelsStayOpen-heading' + i">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#panelsStayOpen-collapse' + i"
              aria-expanded="false"
              [attr.aria-controls]="'panelsStayOpen-collapseOne' + i"
            >
              <div class="iconMenuContainer">
                <img
                  class="icon-menu"
                  src="{{ menuElement.icon }}"
                  alt="icon"
                />
              </div>
              <span>{{ menuElement.title }}</span>
            </button>
          </h2>
          <div [id]="'panelsStayOpen-collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'panelsStayOpen-heading' + i">
            <div class="accordion-body">
              <ul  *ngIf="menuElement.title !== 'eSports'; else eSportsOptions">
                <li class="menu-item" *ngFor="let option of menuElement.options">
                  <a (click)="cerrarCanvas()" class="dropdown-item" routerLink="/info/{{ option.split(' ').join('_') }}">
                    {{ option }}
                  </a>
                </li>
              </ul>

              <ng-template #eSportsOptions>
                <ul>
                  <li class="menu-item"><h6 class="dropdown-header menu-item">{{menuElement.options[0].title}}</h6></li>
                  <li class="menu-item" *ngFor="let option of menuElement.options[0].options">
                    <a (click)="cerrarCanvas()" class="dropdown-item" routerLink="/info/{{(option).split(' ').join('_')}}">
                      {{option}}
                    </a>
                  <li class="menu-item"><hr class="dropdown-divider"></li>
                  <li class="menu-item"><h6 class="dropdown-header menu-item">{{menuElement.options[1].title}}</h6></li>
                  <li class="menu-item" *ngFor="let option of menuElement.options[1].options">
                    <a (click)="cerrarCanvas()" class="dropdown-item" routerLink="/info/{{(option).split(' ').join('_')}}">
                      {{option}}
                    </a>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
        <div  class="accordion-item">
          <h2 class="accordion-header">
          <button (click)="DescargarPdf()" class="accordion-button descargar-button" type="button" >
            <div class="iconMenuContainer">
              <img class="icon-menu" src="../../../assets/icons/download.svg" alt="icon">
              
            </div>
            <span>
              Descargar documento
            </span>
          </button>
        </h2>
        </div>
      </div>
      <!-- fin del nuevo contenido -->
    </div>
  </div>
</nav>

<!-- <button (click)="mostrarMenu()" id="navbar-toggler" type="button" style="border: 0;">
  <img style="width: 8.888889vw;" src="../../../assets/icons/menuIcon.svg" alt="">
</button>
 -->
<div class="aside-contend btn-group-vertical" id="menu">

  <div *ngFor="let menuElement of menuData"  class="dropend">
    <button type="button" class="btn btn-menu dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <div>
        <img class="icon-menu" src="{{menuElement.icon}}" alt="icon">
        <span>{{menuElement.title}}</span>

      </div>
      <i style=" color: #FFFFFF;" class="bi bi-chevron-right"></i>
    </button>
    <ul *ngIf='(!(menuElement.title ==="eSports")); else eSportsOptions' class="dropdown-menu animate__animated animate__fadeIn">

            <li *ngFor="let option of menuElement.options">
              <a class="dropdown-item" routerLink="/info/{{(option).split(' ').join('_')}}"> • {{ option}}</a>
            </li>
  
    </ul>
    <ng-template #eSportsOptions>
    <ul class="dropdown-menu animate__animated animate__fadeIn">
      <li><h6 class="dropdown-header">{{menuElement.options[0].title}}</h6></li>
      <li *ngFor="let option of menuElement.options[0].options">
        <a class="dropdown-item" routerLink="/info/{{(option).split(' ').join('_')}}">• {{option}}</a>
      <li><hr class="dropdown-divider"></li>
      <li><h6 class="dropdown-header">{{menuElement.options[1].title}}</h6></li>
      <li *ngFor="let option of menuElement.options[1].options">
        <a class="dropdown-item" routerLink="/info/{{(option).split(' ').join('_')}}">• {{option}}</a>
    </ul>
  </ng-template>
  
  </div>
  <div class="dropend">
    <button (click)="DescargarPdf()" class="btn-descargar btn btn-menu"  type="button" >
      <div>
        <img class="icon-menu" src="../../../assets/icons/download.svg" alt="icon">
        <span>
          Descargar documento
        </span>
      </div>
      <i style="color: #FFFFFF;" class="bi bi-chevron-right"></i>
    </button>

  </div>
</div> 
